@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 259 52% 10%;
    --foreground: 0 0% 98%;
    --card: 259 52% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 259 52% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 347 77% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 220 9% 55%;
    --accent: 45 93% 55%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 45 93% 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 259 52% 10%;
    --foreground: 0 0% 98%;
    --card: 259 52% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 259 52% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 347 77% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 220 9% 55%;
    --accent: 45 93% 55%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 45 93% 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
